node-red/node-red_dashboard.json
[
    {
        "id": "66a4ff9e.6ffac",
        "type": "tab",
        "label": "Dummy uC",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e5a4ca6.b600a38",
        "type": "tab",
        "label": "MQTT - sensors db",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a67851146fe13f34",
        "type": "tab",
        "label": "MQTT - datetime e cmd",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b7f41819.c332e8",
        "type": "tab",
        "label": "MQTT - sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eae119be.e0ca48",
        "type": "tab",
        "label": "log",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e801217b.23cd1",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "menu",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2c5fd3be.69b83c",
        "type": "mqtt-broker",
        "name": "hiveMQ free",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "aeae0de5.42abc",
        "type": "ui_group",
        "name": "Battery",
        "tab": "2c7866a3.9c38ca",
        "order": 3,
        "disp": true,
        "width": "16",
        "collapse": true,
        "className": ""
    },
    {
        "id": "2c7866a3.9c38ca",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "70f0c9a6.b4de68",
        "type": "ui_tab",
        "name": "log",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fc5603e7.a1d5c",
        "type": "ui_group",
        "name": "table",
        "tab": "70f0c9a6.b4de68",
        "order": 3,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2797592163729b8",
        "type": "mqtt-broker",
        "name": "hiveMQ console",
        "broker": "350fd0725fa14a069e04d387121e69f7.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d73b7901ecb735dc",
        "type": "ui_group",
        "name": "Info",
        "tab": "2c7866a3.9c38ca",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "03f7e9793f9f8efa",
        "type": "ui_group",
        "name": "Command",
        "tab": "2c7866a3.9c38ca",
        "order": 2,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "358768fdfe779d1b",
        "type": "ui_group",
        "name": "Load",
        "tab": "2c7866a3.9c38ca",
        "order": 4,
        "disp": true,
        "width": "16",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d3af8773450fe70e",
        "type": "ui_group",
        "name": "Command",
        "tab": "70f0c9a6.b4de68",
        "order": 2,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f44a200c32d1ded2",
        "type": "ui_spacer",
        "z": "a67851146fe13f34",
        "name": "spacer",
        "group": "d3af8773450fe70e",
        "order": 4,
        "width": 8,
        "height": 1
    },
    {
        "id": "9b48d6800baecb4b",
        "type": "ui_group",
        "name": "Info",
        "tab": "70f0c9a6.b4de68",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f24e7d4802d5499",
        "type": "ui_group",
        "d": true,
        "name": "Temperature and Humidity",
        "tab": "2c7866a3.9c38ca",
        "order": 6,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de29a1a3caf25364",
        "type": "ui_spacer",
        "z": "b7f41819.c332e8",
        "name": "spacer",
        "group": "03f7e9793f9f8efa",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "c20bd689e0066970",
        "type": "ui_spacer",
        "z": "b7f41819.c332e8",
        "name": "spacer",
        "group": "03f7e9793f9f8efa",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "fce1d4675d96f241",
        "type": "ui_spacer",
        "z": "b7f41819.c332e8",
        "name": "spacer",
        "group": "aeae0de5.42abc",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "c949ded6cc88cf18",
        "type": "ui_spacer",
        "z": "b7f41819.c332e8",
        "name": "spacer",
        "group": "aeae0de5.42abc",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "099b479f9120e136",
        "type": "ui_spacer",
        "z": "b7f41819.c332e8",
        "name": "spacer",
        "group": "aeae0de5.42abc",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "ca365f9b48cf2037",
        "type": "ui_spacer",
        "z": "b7f41819.c332e8",
        "name": "spacer",
        "group": "aeae0de5.42abc",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "3d233d0237f1b351",
        "type": "ui_spacer",
        "z": "b7f41819.c332e8",
        "name": "spacer",
        "group": "358768fdfe779d1b",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "ba55cd5ca7bde3f3",
        "type": "ui_spacer",
        "z": "b7f41819.c332e8",
        "name": "spacer",
        "group": "358768fdfe779d1b",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "37929e502c278cc3",
        "type": "ui_spacer",
        "z": "b7f41819.c332e8",
        "name": "spacer",
        "group": "358768fdfe779d1b",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "a3a5863ce98d7f61",
        "type": "ui_spacer",
        "z": "b7f41819.c332e8",
        "name": "spacer",
        "group": "358768fdfe779d1b",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "9b89d5a7710802a9",
        "type": "ui_spacer",
        "z": "b7f41819.c332e8",
        "name": "spacer",
        "group": "4f24e7d4802d5499",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "ad822c1bf2ffa920",
        "type": "ui_spacer",
        "z": "b7f41819.c332e8",
        "name": "spacer",
        "group": "4f24e7d4802d5499",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "21ef646.da7bd9c",
        "type": "ui_group",
        "name": "PV",
        "tab": "2c7866a3.9c38ca",
        "order": 5,
        "disp": true,
        "width": "16",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c34d6f8a.52a95",
        "type": "sqlitedb",
        "db": "C:\\Users\\mirco\\Desktop\\sqlite\\unique.db",
        "mode": "RWC"
    },
    {
        "id": "050d58ee72c9f1d2",
        "type": "global-config",
        "name": "global-config",
        "env": [
            {
                "name": "databaseFile",
                "value": "C:\\Users\\mirco\\Desktop\\sqlite\\unique.db",
                "type": "str"
            }
        ]
    },
    {
        "id": "fe8897304a518907",
        "type": "ui_tab",
        "name": "ID manager",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "788b23d842bc47a5",
        "type": "ui_group",
        "name": "select id",
        "tab": "fe8897304a518907",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b1ebb2f6142bb52b",
        "type": "ui_group",
        "name": "Update datetime",
        "tab": "fe8897304a518907",
        "order": 1,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8de535f3426c7c74",
        "type": "ui_group",
        "name": "commands",
        "tab": "fe8897304a518907",
        "order": 3,
        "disp": false,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bcdaebed.40b698",
        "type": "mqtt out",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "topic": "unipr/lab/test",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b2797592163729b8",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "5c672876.496df8",
        "type": "inject",
        "z": "66a4ff9e.6ffac",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "c2b4b43c.194ce8"
            ]
        ]
    },
    {
        "id": "c2b4b43c.194ce8",
        "type": "function",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "func": "var id = \"LL-2.US-1\";\nvar location = \"IT-Parma-Unipr\";\nmsg.payload = {\n    id: id,\n    location: location,\n    readings: [\n        {\n            data_id: \"env_temperature\",\n            unit: \"°C\",\n            data: [\n                {\n                    timestamp: msg.time+Math.floor(Math.random()*10000),\n                    val: (15+Math.random()*15).toFixed(2)\n                },\n                {\n                    timestamp: msg.time+Math.floor(Math.random()*10000),\n                    val: (15+Math.random()*15).toFixed(2)\n                },\n                {\n                    timestamp: msg.time+Math.floor(Math.random()*10000),\n                    val: (15+Math.random()*15).toFixed(2)\n                }\n            ]\n        },\n        {\n            data_id: \"batt_voltage\",\n            unit: \"V\",\n            data: [\n                {\n                    timestamp: msg.time+Math.floor(Math.random()*10000),\n                    val: (10+Math.random()*4).toFixed(2)\n                },\n                {\n                    timestamp: msg.time+Math.floor(Math.random()*10000),\n                    val: (10+Math.random()*4).toFixed(2)\n                }\n            ]\n        },\n        {\n            data_id: \"env_humidity\",\n            unit: \"%\",\n            data: [\n                {\n                    timestamp: msg.time+Math.floor(Math.random()*10000),\n                    val: (50+Math.random()*30).toFixed(2)\n                }\n            ]\n        },\n        {\n            data_id: \"batt_current\",\n            unit: \"A\",\n            data: [\n                {\n                    timestamp: msg.time+Math.floor(Math.random()*10000),\n                    val: (0.5+Math.random()*2).toFixed(2)\n                }\n            ]\n        },\n        {\n            data_id: \"batt_soc\",\n            unit: \"%\",\n            data: [\n                {\n                    timestamp: msg.time+Math.floor(Math.random()*10000),\n                    val: (20+Math.random()*50).toFixed(2)\n                }\n            ]\n        },\n        {\n            data_id: \"pv_current\",\n            unit: \"A\",\n            data: [\n                {\n                    timestamp: msg.time+Math.floor(Math.random()*10000),\n                    val: (1+Math.random()*4).toFixed(2)\n                }\n            ]\n        },\n        {\n            data_id: \"pv_voltage\",\n            unit: \"V\",\n            data: [\n                {\n                    timestamp: msg.time+Math.floor(Math.random()*10000),\n                    val: (11+Math.random()*9).toFixed(2)\n                }\n            ]\n        },\n        {\n            data_id: \"load_current\",\n            unit: \"A\",\n            data: [\n                {\n                    timestamp: msg.time+Math.floor(Math.random()*10000),\n                    val: (2+Math.random()*4).toFixed(2)\n                }\n            ]\n        },\n        {\n            data_id: \"load_voltage\",\n            unit: \"V\",\n            data: [\n                {\n                    timestamp: msg.time+Math.floor(Math.random()*10000),\n                    val: (12+Math.random()*2).toFixed(2)\n                }\n            ]\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "bcdaebed.40b698"
            ]
        ]
    },
    {
        "id": "91b979ee.e701b8",
        "type": "inject",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "c2b4b43c.194ce8"
            ]
        ]
    },
    {
        "id": "9c45fb9e.7aaca8",
        "type": "mqtt in",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "topic": "unipr/lab/test",
        "qos": "0",
        "datatype": "json",
        "broker": "b2797592163729b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "8043130f.d312",
                "9baf41c8.c185f"
            ]
        ]
    },
    {
        "id": "9baf41c8.c185f",
        "type": "function",
        "z": "66a4ff9e.6ffac",
        "name": "msg parser",
        "func": "var insertions = [];\nvar id = msg.payload.id;\nvar location = msg.payload.location;\nvar readings = msg.payload.readings;\n\nvar start_query = \"INSERT INTO readings VALUES (\\\"\"+ id + \"\\\", \\\"\";\nfor (let r = 0; r < readings.length; r++) {\n        const read = readings[r];\n        const data = read.data;\n        var mid_query = start_query + read.data_id + \"\\\", \";\n        for (let d = 0; d < data.length; d++) {\n                const element = data[d];\n                var end_query = mid_query\n                + element.timestamp + \", \"\n                + element.val + \", \\\"\"\n                + read.unit + \"\\\");\";\n                insertions.push(end_query);\n        }\n}\n\nmsg = {\n        id: id,\n        location: location,\n        readings: readings,\n        payload: insertions\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 280,
        "wires": [
            [
                "152e7e68.390582",
                "7a7c5be470ec0584"
            ]
        ]
    },
    {
        "id": "8043130f.d312",
        "type": "debug",
        "z": "66a4ff9e.6ffac",
        "name": "MQTT /test",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 240,
        "wires": []
    },
    {
        "id": "152e7e68.390582",
        "type": "debug",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "6d1ade5a.b6516",
        "type": "sqlite",
        "z": "66a4ff9e.6ffac",
        "mydb": "c34d6f8a.52a95",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "insert",
        "x": 830,
        "y": 320,
        "wires": [
            [
                "8fbd4d0bfa30cdff"
            ]
        ]
    },
    {
        "id": "8284e44e8c1628da",
        "type": "sqlite",
        "z": "66a4ff9e.6ffac",
        "mydb": "c34d6f8a.52a95",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE IF NOT EXISTS readings (device_id TEXT, data_id TEXT, timestamp INTEGER, val REAL, unit TEXT);",
        "name": "create table readings",
        "x": 340,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "377b26799312c54a",
        "type": "inject",
        "z": "66a4ff9e.6ffac",
        "name": "startup",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "8284e44e8c1628da",
                "40a309aa804128fa"
            ]
        ]
    },
    {
        "id": "7a7c5be470ec0584",
        "type": "split",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "18cf775846e1d345"
            ]
        ]
    },
    {
        "id": "a1dc1b3202e70e78",
        "type": "debug",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "18cf775846e1d345",
        "type": "change",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "6d1ade5a.b6516",
                "a1dc1b3202e70e78"
            ]
        ]
    },
    {
        "id": "bde9d0796cd74c6a",
        "type": "inject",
        "z": "66a4ff9e.6ffac",
        "name": "startup",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "87b20b7fed27c053"
            ]
        ]
    },
    {
        "id": "809e1b370265e5b2",
        "type": "ui_dropdown",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "label": "LLAB ID:",
        "tooltip": "",
        "place": "Select option",
        "group": "788b23d842bc47a5",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 600,
        "y": 400,
        "wires": [
            [
                "9a1c90b91b4ce4ab"
            ]
        ]
    },
    {
        "id": "87b20b7fed27c053",
        "type": "sqlite",
        "z": "66a4ff9e.6ffac",
        "mydb": "c34d6f8a.52a95",
        "sqlquery": "fixed",
        "sql": "SELECT DISTINCT device_id FROM readings;",
        "name": "select IDs",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "3cde4a6fbcbf40fa"
            ]
        ]
    },
    {
        "id": "9a1c90b91b4ce4ab",
        "type": "change",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedID",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3cde4a6fbcbf40fa",
        "type": "function",
        "z": "66a4ff9e.6ffac",
        "name": "set ids",
        "func": "var ids = [];\nfor (let index = 0; index < msg.payload.length; index++) {\n    const id = msg.payload[index].device_id;\n    ids.push(id);\n}\nmsg.options = ids;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 400,
        "wires": [
            [
                "809e1b370265e5b2"
            ]
        ]
    },
    {
        "id": "1506c6fc3e03d0b3",
        "type": "inject",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "fdee44f320f2ddbf"
            ]
        ]
    },
    {
        "id": "fdee44f320f2ddbf",
        "type": "mqtt out",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "topic": "unipr/lab/datetime",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b2797592163729b8",
        "x": 390,
        "y": 540,
        "wires": []
    },
    {
        "id": "0940773e2ed8c7fe",
        "type": "debug",
        "z": "66a4ff9e.6ffac",
        "name": "home /datetime",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 480,
        "wires": []
    },
    {
        "id": "4f4ff47458ff061a",
        "type": "ui_button",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "group": "b1ebb2f6142bb52b",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Update datetime",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "fdee44f320f2ddbf",
                "0940773e2ed8c7fe"
            ]
        ]
    },
    {
        "id": "60e5e14befaf520e",
        "type": "ui_switch",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "label": "Run",
        "tooltip": "",
        "group": "8de535f3426c7c74",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "run",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 147.9999885559082,
        "y": 641.0000171661377,
        "wires": [
            [
                "edf69b94ff593071"
            ]
        ]
    },
    {
        "id": "442470fdfa8cc991",
        "type": "mqtt out",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "topic": "unipr/lab/cmd",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b2797592163729b8",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "ee4dd2d1165bfba5",
        "type": "ui_switch",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "label": "Load",
        "tooltip": "",
        "group": "8de535f3426c7c74",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "load",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 147.9999885559082,
        "y": 601.0000171661377,
        "wires": [
            [
                "edf69b94ff593071"
            ]
        ]
    },
    {
        "id": "d92f3f65686fa67c",
        "type": "debug",
        "z": "66a4ff9e.6ffac",
        "name": "home /cmd",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 560,
        "wires": []
    },
    {
        "id": "5e804feb59ebb02a",
        "type": "function",
        "z": "66a4ff9e.6ffac",
        "name": "add id to cmd",
        "func": "msg.payload.id = global.get(\"selectedID\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 600,
        "wires": [
            [
                "d92f3f65686fa67c",
                "442470fdfa8cc991"
            ]
        ]
    },
    {
        "id": "edf69b94ff593071",
        "type": "join",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "89c7f06deaba54b3"
            ]
        ]
    },
    {
        "id": "89c7f06deaba54b3",
        "type": "switch",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "property": "selectedID",
        "propertyType": "global",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 620,
        "wires": [
            [
                "5e804feb59ebb02a"
            ],
            [
                "104cce666467579d"
            ]
        ]
    },
    {
        "id": "67fa5535314a69ca",
        "type": "ui_toast",
        "z": "66a4ff9e.6ffac",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "104cce666467579d",
        "type": "function",
        "z": "66a4ff9e.6ffac",
        "name": "notification message",
        "func": "msg.topic = \"No ID selected!\";\nmsg.payload = \"Please select an ID to send the command\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 640,
        "wires": [
            [
                "67fa5535314a69ca"
            ]
        ]
    },
    {
        "id": "40a309aa804128fa",
        "type": "change",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "selectedID",
                "pt": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "8fbd4d0bfa30cdff",
        "type": "link out",
        "z": "66a4ff9e.6ffac",
        "name": "new data inserted",
        "mode": "link",
        "links": [
            "4ed79b28090616db"
        ],
        "x": 915,
        "y": 320,
        "wires": []
    },
    {
        "id": "4ed79b28090616db",
        "type": "link in",
        "z": "66a4ff9e.6ffac",
        "name": "update charts",
        "links": [
            "8fbd4d0bfa30cdff"
        ],
        "x": 75,
        "y": 740,
        "wires": [
            [
                "b1bb71b72d9fa9da"
            ]
        ]
    },
    {
        "id": "109046a88dc97557",
        "type": "sqlite",
        "z": "66a4ff9e.6ffac",
        "mydb": "c34d6f8a.52a95",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "select *",
        "x": 320,
        "y": 740,
        "wires": [
            [
                "424da12b73dc9fcd"
            ]
        ]
    },
    {
        "id": "424da12b73dc9fcd",
        "type": "debug",
        "z": "66a4ff9e.6ffac",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 740,
        "wires": []
    },
    {
        "id": "b1bb71b72d9fa9da",
        "type": "template",
        "z": "66a4ff9e.6ffac",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT\n    timestamp, val, unit\nFROM\n    readings\nWHERE\n    device_id=\"{{global.selectedID}}\"\nAND\n    (data_id=\"batt_voltage\");",
        "output": "str",
        "x": 180,
        "y": 740,
        "wires": [
            [
                "109046a88dc97557"
            ]
        ]
    },
    {
        "id": "62b6322a.94451c",
        "type": "inject",
        "z": "a67851146fe13f34",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "4ec4d2dc.6681dc"
            ]
        ]
    },
    {
        "id": "4ec4d2dc.6681dc",
        "type": "mqtt out",
        "z": "a67851146fe13f34",
        "name": "",
        "topic": "unipr/lab/datetime",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b2797592163729b8",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "a546d06386eadd23",
        "type": "ui_switch",
        "z": "a67851146fe13f34",
        "name": "",
        "label": "Run",
        "tooltip": "",
        "group": "03f7e9793f9f8efa",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "run",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "c22f1c2acea1199c"
            ]
        ]
    },
    {
        "id": "8017d66acff29c10",
        "type": "mqtt out",
        "z": "a67851146fe13f34",
        "name": "",
        "topic": "unipr/lab/cmd",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b2797592163729b8",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "6a88a51eafa41658",
        "type": "ui_button",
        "z": "a67851146fe13f34",
        "name": "",
        "group": "d3af8773450fe70e",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Update datetime",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "4ec4d2dc.6681dc"
            ]
        ],
        "info": "log"
    },
    {
        "id": "9dbfb0d3361d30e2",
        "type": "ui_switch",
        "z": "a67851146fe13f34",
        "name": "",
        "label": "Run",
        "tooltip": "",
        "group": "d3af8773450fe70e",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "run",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "c22f1c2acea1199c"
            ]
        ]
    },
    {
        "id": "3ab2030d80a7be3b",
        "type": "debug",
        "z": "a67851146fe13f34",
        "name": "home /datetime",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "5c220bbd8ef64da2",
        "type": "ui_switch",
        "z": "a67851146fe13f34",
        "name": "",
        "label": "Load",
        "tooltip": "",
        "group": "03f7e9793f9f8efa",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "load",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "c22f1c2acea1199c"
            ]
        ]
    },
    {
        "id": "3ae764bff45aa70d",
        "type": "ui_switch",
        "z": "a67851146fe13f34",
        "name": "",
        "label": "Load",
        "tooltip": "",
        "group": "d3af8773450fe70e",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "load",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "c22f1c2acea1199c"
            ]
        ]
    },
    {
        "id": "0ba96bf736bc09b4",
        "type": "ui_button",
        "z": "a67851146fe13f34",
        "name": "",
        "group": "03f7e9793f9f8efa",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Update datetime",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "4ec4d2dc.6681dc",
                "3ab2030d80a7be3b"
            ]
        ]
    },
    {
        "id": "27c5b6fb13324541",
        "type": "debug",
        "z": "a67851146fe13f34",
        "name": "home /cmd",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "d6d183d8c3db563a",
        "type": "ui_switch",
        "z": "a67851146fe13f34",
        "d": true,
        "name": "",
        "label": "Run",
        "tooltip": "",
        "group": "03f7e9793f9f8efa",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"run\":true}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"run\":false}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c22f1c2acea1199c",
        "type": "join",
        "z": "a67851146fe13f34",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "8017d66acff29c10",
                "27c5b6fb13324541"
            ]
        ]
    },
    {
        "id": "514a5add.daed64",
        "type": "debug",
        "z": "b7f41819.c332e8",
        "name": "MQTT /sensors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "6f18d6d1.74a368",
        "type": "mqtt in",
        "z": "b7f41819.c332e8",
        "name": "",
        "topic": "unipr/lab/digilent",
        "qos": "0",
        "datatype": "json",
        "broker": "b2797592163729b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "514a5add.daed64",
                "69268df86ed213c5"
            ]
        ]
    },
    {
        "id": "a971811fe00e9ad6",
        "type": "ui_chart",
        "z": "b7f41819.c332e8",
        "d": true,
        "name": "",
        "group": "4f24e7d4802d5499",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "7ece08ec42e69249",
        "type": "debug",
        "z": "b7f41819.c332e8",
        "name": "data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "d0919cf028b966b9",
        "type": "ui_button",
        "z": "b7f41819.c332e8",
        "d": true,
        "name": "",
        "group": "4f24e7d4802d5499",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 600,
        "wires": [
            [
                "a971811fe00e9ad6"
            ]
        ]
    },
    {
        "id": "69268df86ed213c5",
        "type": "function",
        "z": "b7f41819.c332e8",
        "name": "msg parser",
        "func": "const sensors = msg.payload.sensors;\nmsg = {\n        id: msg.payload.id,\n        location: msg.payload.location,\n        timestamp: msg.payload.timestamp,\n};\nfor (let index = 0; index < sensors.length; index++) {\n        const element = sensors[index];\n        const key = Object.keys(element)[0];\n        const obj = element[key];\n        msg[key] = obj;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 240,
        "wires": [
            [
                "7ece08ec42e69249",
                "0d203b8e2eb59e10",
                "fd4b0842b18f896f",
                "abd966c9ba99373c",
                "2c63fa6303f21871",
                "893029ac6b051df3",
                "b819364882937712",
                "926865384c1fd4cd",
                "d6627129fd7d5a91",
                "fda19f62e6df77fb",
                "fd58c2253d5a4490",
                "398d1fd086344e4b",
                "f34be4df828433c5",
                "b2053abd.bb2568",
                "4d734443.3586cc",
                "416b80ff.99698",
                "f1d71550.279428"
            ]
        ]
    },
    {
        "id": "0d203b8e2eb59e10",
        "type": "ui_gauge",
        "z": "b7f41819.c332e8",
        "name": "",
        "group": "aeae0de5.42abc",
        "order": 1,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Voltage",
        "label": "V",
        "format": "{{msg.battery.voltage}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#df3434",
            "#e6e600",
            "#00d652"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "fd4b0842b18f896f",
        "type": "ui_gauge",
        "z": "b7f41819.c332e8",
        "name": "",
        "group": "aeae0de5.42abc",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Current",
        "label": "A",
        "format": "{{msg.battery.current}}",
        "min": "-10",
        "max": "10",
        "colors": [
            "#df3434",
            "#e6e600",
            "#00d652"
        ],
        "seg1": "0",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "abd966c9ba99373c",
        "type": "ui_gauge",
        "z": "b7f41819.c332e8",
        "name": "",
        "group": "aeae0de5.42abc",
        "order": 3,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "State of Charge",
        "label": "%",
        "format": "{{msg.battery.soc}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#df3434",
            "#e6e600",
            "#00d652"
        ],
        "seg1": "20",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 360,
        "wires": []
    },
    {
        "id": "2c63fa6303f21871",
        "type": "ui_gauge",
        "z": "b7f41819.c332e8",
        "name": "",
        "group": "358768fdfe779d1b",
        "order": 1,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Voltage",
        "label": "V",
        "format": "{{msg.load.voltage}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#df3434",
            "#e6e600",
            "#00d652"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 420,
        "wires": []
    },
    {
        "id": "893029ac6b051df3",
        "type": "ui_gauge",
        "z": "b7f41819.c332e8",
        "name": "",
        "group": "358768fdfe779d1b",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Current",
        "label": "A",
        "format": "{{msg.load.current}}",
        "min": "0",
        "max": "10",
        "colors": [
            "#df3434",
            "#e6e600",
            "#00d652"
        ],
        "seg1": "0",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "7a99898cd3fb7088",
        "type": "ui_gauge",
        "z": "b7f41819.c332e8",
        "name": "",
        "group": "358768fdfe779d1b",
        "order": 3,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Power",
        "label": "W",
        "format": "{{msg.load.power}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#34d4df",
            "#e6e600",
            "#00d652"
        ],
        "seg1": "1",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 500,
        "wires": []
    },
    {
        "id": "b819364882937712",
        "type": "function",
        "z": "b7f41819.c332e8",
        "name": "function 1",
        "func": "const pow = Math.abs(msg.load.current * msg.load.voltage);\nmsg.load.power = Math.round((pow + Number.EPSILON) * 100) / 100;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 500,
        "wires": [
            [
                "7a99898cd3fb7088"
            ]
        ]
    },
    {
        "id": "926865384c1fd4cd",
        "type": "ui_text",
        "z": "b7f41819.c332e8",
        "group": "d73b7901ecb735dc",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "ID:",
        "format": "{{msg.id}}",
        "layout": "row-left",
        "className": "",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "d6627129fd7d5a91",
        "type": "ui_text",
        "z": "b7f41819.c332e8",
        "group": "d73b7901ecb735dc",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Location:",
        "format": "{{msg.location}}",
        "layout": "row-left",
        "className": "",
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "fda19f62e6df77fb",
        "type": "link out",
        "z": "b7f41819.c332e8",
        "name": "to log",
        "links": [
            "522cebd689b611e1"
        ],
        "x": 495,
        "y": 320,
        "wires": []
    },
    {
        "id": "fd58c2253d5a4490",
        "type": "ui_text",
        "z": "b7f41819.c332e8",
        "group": "9b48d6800baecb4b",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "ID:",
        "format": "{{msg.id}}",
        "layout": "row-left",
        "className": "",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "398d1fd086344e4b",
        "type": "ui_text",
        "z": "b7f41819.c332e8",
        "group": "9b48d6800baecb4b",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Location:",
        "format": "{{msg.location}}",
        "layout": "row-left",
        "className": "",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "f34be4df828433c5",
        "type": "function",
        "z": "b7f41819.c332e8",
        "d": true,
        "name": "chart generator",
        "func": "msg = {\n        topic:\"temperature\",\n        payload: msg.dht.temperature,\n        timestamp: msg.timestamp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 480,
        "wires": [
            [
                "a971811fe00e9ad6"
            ]
        ]
    },
    {
        "id": "b2053abd.bb2568",
        "type": "function",
        "z": "b7f41819.c332e8",
        "d": true,
        "name": "chart generator",
        "func": "msg = {\n        topic:\"humidity\",\n        payload: msg.dht.humidity,\n        timestamp: msg.timestamp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 440,
        "wires": [
            [
                "a971811fe00e9ad6"
            ]
        ]
    },
    {
        "id": "4d734443.3586cc",
        "type": "ui_gauge",
        "z": "b7f41819.c332e8",
        "name": "",
        "group": "21ef646.da7bd9c",
        "order": 1,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Voltage",
        "label": "V",
        "format": "{{msg.pv.voltage}}",
        "min": 0,
        "max": "24",
        "colors": [
            "#df3434",
            "#e6e600",
            "#00d652"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 560,
        "wires": []
    },
    {
        "id": "416b80ff.99698",
        "type": "ui_gauge",
        "z": "b7f41819.c332e8",
        "name": "",
        "group": "21ef646.da7bd9c",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Current",
        "label": "A",
        "format": "{{msg.pv.current}}",
        "min": "0",
        "max": "10",
        "colors": [
            "#df3434",
            "#e6e600",
            "#00d652"
        ],
        "seg1": "0",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 600,
        "wires": []
    },
    {
        "id": "a08c0d76.e9e8",
        "type": "ui_gauge",
        "z": "b7f41819.c332e8",
        "name": "",
        "group": "21ef646.da7bd9c",
        "order": 3,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Power",
        "label": "W",
        "format": "{{msg.pv.power}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#34d4df",
            "#e6e600",
            "#00d652"
        ],
        "seg1": "1",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 640,
        "wires": []
    },
    {
        "id": "f1d71550.279428",
        "type": "function",
        "z": "b7f41819.c332e8",
        "name": "function 1",
        "func": "const pow = Math.abs(msg.pv.current * msg.pv.voltage);\nmsg.pv.power = Math.round((pow + Number.EPSILON) * 100) / 100;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 640,
        "wires": [
            [
                "a08c0d76.e9e8"
            ]
        ]
    },
    {
        "id": "8be060d.0b232a",
        "type": "ui_table",
        "z": "eae119be.e0ca48",
        "group": "fc5603e7.a1d5c",
        "name": "",
        "order": 1,
        "width": 20,
        "height": 10,
        "columns": [
            {
                "field": "timestamp",
                "title": "timestamp",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "date",
                "title": "date",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "battery V",
                "title": "Battery Voltage",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "battery C",
                "title": "Battery Current",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "battery SOC",
                "title": "State of Charge",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "load V",
                "title": "Load Voltage",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "load C",
                "title": "Load Current",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "pv V",
                "title": "PV Voltage",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "pv C",
                "title": "PV Current",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "522cebd689b611e1",
        "type": "link in",
        "z": "eae119be.e0ca48",
        "name": "from /sensors",
        "links": [
            "a8c73a6824474a02",
            "fda19f62e6df77fb"
        ],
        "x": 335,
        "y": 120,
        "wires": [
            [
                "6fe86cf1322abb4b",
                "70bd309242b6af35"
            ]
        ]
    },
    {
        "id": "6fe86cf1322abb4b",
        "type": "function",
        "z": "eae119be.e0ca48",
        "name": "parser",
        "func": "var d = new Date(msg.timestamp);\nvar date =  d.getDate() + '/'\n            + (d.getMonth()+1) + '/'\n            + d.getFullYear() + \" \"\n            + d.getHours() + ':'\n            + d.getMinutes() + ':'\n            + d.getSeconds();\nmsg.payload = {\n    command: \"addRow\",\n    arguments: [\n        {\n            \"timestamp\": msg.timestamp,\n            \"date\": date,\n            \"battery V\": msg.battery.voltage,\n            \"battery C\": msg.battery.current,\n            \"battery SOC\": msg.battery.soc,\n            \"load V\": msg.load.voltage,\n            \"load C\": msg.load.current,\n            \"pv V\": msg.pv.voltage,\n            \"pv C\": msg.pv.current,\n        },\n    ],\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 140,
        "wires": [
            [
                "8be060d.0b232a"
            ]
        ]
    },
    {
        "id": "9731a451ad85b9d3",
        "type": "ui_button",
        "z": "eae119be.e0ca48",
        "name": "",
        "group": "d3af8773450fe70e",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "8be060d.0b232a"
            ]
        ]
    },
    {
        "id": "70bd309242b6af35",
        "type": "debug",
        "z": "eae119be.e0ca48",
        "name": "MQTT /sensors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 100,
        "wires": []
    }
]